# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/tax-module

# Test
*.test
*.out
coverage.html

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Vendor (if not committed)
/vendor/

# Build
/tmp/

plan.md
Project_Overview.md
CLAUDE.md
/web/

/graphify-out
/docs/MISA DOC/
/docs/Viettel Doc/